.wrap{
  max-width: 1440px;
  margin: 0 auto;
}
.h1{
  font-size: calc(48px *0.8);
 }
.h2{
  font-size: calc(40px *0.8);
 }
.h3{
  font-size: calc(36px *0.8);
 }
.h4{
  font-size: calc(32px *0.8);
 }
.h5{
  font-size: 20px;
 }
.h6{
  font-size: 16px;
 }
.p15{
  font-size: 15px;
 }
 .sm11{
  font-size: 11px;
 }
.sm13{
  font-size: 13px;
 } 
 .sm14{
  font-size: 14px;
 } 
.block{
   display:block; 
}
.bold{
  font-weight: 700;
}
.paddingT20{
  padding-top: 20px;
}
.paddingB20{
  padding-bottom: 20px;
}
.paddingT30{
  padding-top: 30px;
}
.paddingB30{
  padding-bottom: 30px;
}
.paddingT40{
  padding-top: 40px;
}
.paddingB40{
  padding-bottom: 40px;
}
.paddingT50{
  padding-top: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.marginB30{
  margin-bottom: 30px;
}
.current{
  background-color:#00f !important;
  color: #fff;
}
.flex{
  display:flex;
}
.hide{
  display:none;
}
.grid{
  display: grid;
}
/* 보더 스타일 */
.borderT{
  border-top: 5px solid #ccc;
  border-radius: 20px;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.bubbleb{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 50%;
  animation: bubbleb 3s ease-out forwards infinite;
  /*! right: 215px; */
}
@keyframes bubbleb {
  0% {
    width: 0;
    height: 0;
    opacity: 0.75;
  }
  100% {
    width: 100%;
    height: 200%;
    opacity: 0;
  }
}
.bubbleb2{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 50%;
  animation: bubbleb2 3s ease-in-out forwards infinite;
  right: 335px;
}
@keyframes bubbleb2 {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 80%;
    height: 160%;
    opacity: 0.25;
  }
}
.show{
  color:#0084ff !important;
}
.indent{
  padding-left:7px;
}