body{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;      
    height: 100%;
    position:relative;
}
body::before{
  content:'';
  display: block;
  width: 100%;
  height: calc(100% + 850px);
  background-color: #f0f;
  position: absolute;
  left:0;
  top:0;
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -1;
}
/* 상단 영역 */
header {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header div.wrap {

}
header div.wrap nav {

display: grid;
grid-template-columns: 1fr auto auto;
align-items: center;
column-gap: 20px;
}
header div.wrap nav h1 {

    justify-self: flex-start;
}
header div.wrap nav h1 a{

    font-size: 0;
    background-image: url(../img/logo.png);
    width:300px;
    height: 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
header div.wrap nav ul.gnb {

    margin-right: 20px;
}
header div.wrap nav ul.gnb li {

}
header div.wrap nav ul.gnb li a {

padding: 0 10px;
line-height: 1.5;
display: block;
color:#000;
font-size: 25px;
}
header div.wrap nav ul.gnb li a:hover{
 color: #0080FF;
}
header div.wrap nav ul.gnb li a:hover::before{
  width:70%;
}
header div.wrap nav ul.gnb li a::before{
  width:0%;
  content:'';
  display: block;
  border-top: 2px solid #0080FF;
  transition: 0.1s;
}
header div.wrap nav ul.enb {

    gap: 10px;
}
header div.wrap nav ul.enb li {

}
header div.wrap nav ul.enb li a{
 margin-right:10px;
}
header div.wrap nav ul.enb li:first-child a{
 font-size: 0;
 background-image:url(../img/notion.png);
 background-position: center;
 width: 35px;
 height: 35px;
 background-repeat: no-repeat;
 background-size: contain;
}
header div.wrap nav ul.enb li:last-child a{
 font-size: 0;
 background-image:url(../img/kaka.png);
 background-position: center;
 width: 41px;
 height: 40px;
 background-repeat: no-repeat;
 background-size: contain;
}
/* 타이틀 영역 */
div#title {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*! background: linear-gradient(to bottom, #BEFF30, #fff); */
    min-height: 700px;
}
div#title div.wrap {

/* height: 700px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: gray;
gap: 30px;
color: white; */
/*! font-weight: 700; */
}
div#title div.wrap h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}
div#title div.wrap p {
    padding: 10px;
    /*! border: 1px solid; */
    width: fit-content;
    margin: 0 auto;
  }

/* 어바웃*/

#aboutme {
  
    height: 100%;
    min-height: 800px;
    background-image: linear-gradient( 180deg, rgba(255, 255, 255, 0) 3.5%, rgb(255, 244, 165) 65% );
}
#aboutme div.wrap {
  
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    justify-content: center;
}
#aboutme div.wrap h2 {
  
    transform: translateX(300px) translateY(-150px);
    font-size: 40px;
}
#aboutme div.wrap figure{
    
}
#aboutme div.wrap figure img{
    
 
}
#aboutme div.wrap ul {
  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#aboutme div.wrap ul li {
  
    background-color: #c2fd42ab;
    width: 300px;
    height: 300px;
    /*! border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 20px #62803e;
}
#aboutme div.wrap ul li:nth-child(1){
    grid-column: 2;
    grid-row: 1;
   
    flex-direction: column-reverse;
    row-gap: 25px;
    justify-content: end;
}
#aboutme div.wrap ul li:nth-child(2){
    grid-column: 1;
    grid-row: 2;
    position:relative;
}
#aboutme div.wrap ul li:nth-child(2)::before{
  content:'학력, 관련수료 내용 등 이력에 대한 보충설명'; 
  width: 300px;
  height: 130px;
 color: #c2fd42ab;
  background-color:#222;
  border-radius: 10px;
  position:absolute;
  bottom: -25px;
  right: 210px;
   transition: 0.5s;
  display: none;
  padding:  20px;
  opacity: 0.9;
    box-sizing: border-box;
}
#aboutme div.wrap ul li:nth-child(2):hover::before{
 display: inline-block; 
 box-shadow: -7px 7px 10px #999;
   
}
#aboutme div.wrap ul li:nth-child(3){
    grid-column: 2;
    grid-row: 2;   
    border: 0;
}
#aboutme div.wrap ul li:nth-child(4){
    grid-column: 3;
    grid-row: 2;
}
#aboutme div.wrap ul li:nth-child(5){
    grid-column: 4;
    grid-row: 2;
    border-left: 0;
}
#aboutme div.wrap ul li:nth-child(6){
    grid-column: 2;
    grid-row: 3;
}
#aboutme div.wrap ul li h3 {
    font-size: 30px;
}

/* 기술과 도구 */
#skill {
    min-height: 700px;
    height: 100%;
    align-items: center;
    
    display: flex;
    /*! background-color: #3fb48b; */
    background-image: linear-gradient( 179deg, rgb(255, 244, 165) 16.6%, rgb(252, 99, 156) 80.4% );
}
#skill div.wrap {

   
}
#skill div.wrap ul.list {
 
   
    grid-template-columns: 1fr;

    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 62px;
}
#skill div.wrap ul.list>li {
 
  
    display: flex;
    flex-direction: column-reverse;
    align-items: first baseline;
    gap: 20px;
}

#skill div.wrap h2{
    
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}
#skill div.wrap ul.list>li ul.icon {
 
  
    display: flex;
}
#skill div.wrap ul.list>li ul.icon li{
    
    display: flex;
    align-items: center;
    justify-content: start;
}

#skill div.wrap ul.list>li ul.icon li img{
 width:100px;
 height: 100px;
 margin-bottom: 10px;
}
/* 아이콘 호버  */
#skill div.wrap ul.list>li ul.icon li h3.icon{
    width: 57%;
    display: none;
    font-size: 24px;
    transition: 1s ease-in-out;
}
#skill div.wrap ul.list>li ul.icon li:hover h3.icon{
display: block;
padding: 20px;
background-color:
#d6f962;
border-radius: 23px;
box-shadow: 10px 10px 20px #749070;
}
#skill div.wrap ul.list>li ul.icon li h3.icon p{
    
   
}
#skill div.wrap ul.list>li ul.icon li h3.icon p.deh{

  
    /*! text-align: center; */
    margin-bottom: 12px;
}
#skill div.wrap ul.list>li ul.icon li h3.icon p.dep{

    margin-bottom: 12px;
}
#skill div.wrap ul.list>li ul.icon li h3.icon p.level{
    
    color: #000;
    position: relative;
}
#skill div.wrap ul.list>li ul.icon li h3.icon p.level::after{
    content:'';
    width: 102px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -3px;
    right: 259px;
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(1) img {
scale: 1.15;
transform: translateY(-2px);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(2) img {
 scale: 1.15;
 transform: translateY(1px);

}

#skill div.wrap ul.list>li:nth-child(1) ul.icon li:nth-child(1) h3.icon p.level::after {
    background-image: url(../img/90.svg);
}
#skill div.wrap ul.list>li:nth-child(1) ul.icon li:nth-child(2) h3.icon p.level::after {
    background-image: url(../img/70.svg);
}
#skill div.wrap ul.list>li:nth-child(1) ul.icon li:nth-child(3) h3.icon p.level::after {
    background-image: url(../img/50.svg);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(1) h3.icon p.level::after {
    background-image: url(../img/70.svg);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(2) h3.icon p.level::after {
    background-image: url(../img/90.svg);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(3) h3.icon p.level::after {
    background-image: url(../img/50.svg);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(4) h3.icon p.level::after {
    background-image: url(../img/90.svg);
}
#skill div.wrap ul.list>li:nth-child(3) ul.icon li:nth-child(1) h3.icon p.level::after {
    background-image: url(../img/90.svg);
}
#skill div.wrap ul.list>li:nth-child(3) ul.icon li:nth-child(2) h3.icon p.level::after {
    background-image: url(../img/50.svg);
}
#skill div.wrap ul.list>li:nth-child(3) ul.icon li:nth-child(3) h3.icon p.level::after {
    background-image: url(../img/70.svg);
}
#skill div.wrap ul.list>li:nth-child(3) ul.icon li:nth-child(4) h3.icon p.level::after {
    background-image: url(../img/90.svg);
}

#skill div.wrap ul.list>li button{
  
    padding: 10px 20px;
    width: fit-content;
    font-size: 20px;
    border-radius: 10px;
    background-color: #000;
    color: #0084ff;
}
/* 포트 폴리오 */
#portfolio {

    font-size: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: 800px;
    background-image: linear-gradient( 179deg, rgb(255, 96, 155) 16.6%, rgb(250, 216, 255) 80.4% );
}
#portfolio div.wrap {

    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 49px;
}
#portfolio div.wrap span.dis {

    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 23px;
}
#portfolio div.wrap span.dis  a {

    padding: 15px 23px;
    border-radius: 10px;
    background-color: #000;
    color: #0084ff;
}
#portfolio div.wrap span.dis a:first-child{
     padding: 15px 46px;
}
#portfolio div.wrap figure {

    grid-column: 2;
    grid-row: 1 / span 4;
}
#portfolio div.wrap figure img {

}
#portfolio div.wrap figure figcaption {
 display: none;
}
#portfolio div.wrap ul {

    grid-column: 3;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
}
#portfolio div.wrap ul li {
}
#portfolio div.wrap ul li:nth-child(1) {
}
#portfolio div.wrap ul li:nth-child(2) {
    align-self: baseline;
}
#portfolio div.wrap ul li:nth-child(3) {
    align-self: baseline;
}
#portfolio div.wrap ul li h3 {

}
#portfolio div.wrap ul li p {

}
#portfolio div.wrap span.guide {

    grid-column: 3;
    grid-row: 4;
    display: flex;
    font-size: 27px;
    gap: 23px;
    align-items: end;
 
}
#portfolio div.wrap span.guide a {

    width: calc(100% /3);
    font-size: 22px;
    text-align: center;
}
#portfolio div.wrap span.guide a::before{
    content:'';
    width: 98px;
    height: 98px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
#portfolio div.wrap span.guide a:nth-child(1)::before{
    background-image: url(../img/figma.svg);
    background-color: #000000;
    border-radius: 50%;
}
#portfolio div.wrap span.guide a:nth-child(2)::before{
    background-image: url(../img/webpgm.png);
    background-color: #000000;
    border-radius: 50%;
}
#portfolio div.wrap span.guide a:nth-child(3)::before{
    background-image: url(../img/github.svg)
}
/* 하단 영역 */
footer {
   height: 100%;
   display: flex;
   align-items: center;
   min-height: 800px;
   position:relative;
background-image: linear-gradient( 179deg, rgb(250, 216, 255) 0.2%, rgba(255, 255, 255, 0) 80.4% );
}
footer::before{
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f0f;
  position: absolute;
  left:0;
  top:0;
  background-image: url(../img/back2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -1;
}
footer div.wrap {

    display: flex;
    width: calc(100% /3);
    flex-direction: column;
    flex-wrap: wrap;
    gap: 66px;
    align-items: inherit;
}
footer div.wrap ul {

    display: flex;
     text-align: center;
    width: 100%;
    justify-content: space-between;
}
footer div.wrap ul li {

}
footer div.wrap ul li figure {
   
   
}
footer div.wrap ul li figure img {
    width: 200px;
    height: 200px;
}
footer div.wrap ul li figure p.sns {

    font-size: 22px;
}
footer div.wrap p.right {
    text-align: center;
    line-height: 1.4;
    transform: translateY(100px);
}
footer div.wrap p.right strong {

}