body{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;      
    height: 100%;
    position:relative;

}
body::before{
  content:'';
  display: block;
  width: 100%;
  height: calc(100% + 550px);
  position: absolute;
  left:0;
  top:0;
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -1;
}
/* 상단 영역 */
header {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 3;
/*     background-color: #ccc; */
}
header div.wrap {

}
header div.wrap nav {

display: grid;
grid-template-columns: 1fr auto auto;
align-items: center;
column-gap: 20px;
}
header div.wrap nav h1 {

    justify-self: flex-start;
}
header div.wrap nav h1 a{

    font-size: 0;
    background-image: url(../img/logo.png);
    width:300px;
    height: 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
header div.wrap nav a{
    
}
header div.wrap nav ul.gnb {

    margin-right: 20px;
}
header div.wrap nav ul.gnb li {

}
header div.wrap nav ul.gnb li a {

padding: 0 10px;
line-height: 1.5;
display: block;
color:#000;
font-size: 25px;
}
header div.wrap nav ul.gnb li a:hover{
 color: #0080FF;
}
header div.wrap nav ul.gnb li a:hover::before{
  width:70%;
}
header div.wrap nav ul.gnb li a::before{
  width:0%;
  content:'';
  display: block;
  border-top: 2px solid #0080FF;
  transition: 0.1s;
}
header div.wrap nav ul.enb {

    gap: 10px;
}
header div.wrap nav ul.enb li {

}
header div.wrap nav ul.enb li a{
 margin-right:10px;
}
header div.wrap nav ul.enb li:first-child a{
 font-size: 0;
 background-image:url(../img/notion.png);
 background-position: center;
 width: 35px;
 height: 35px;
 background-repeat: no-repeat;
 background-size: contain;
}
header div.wrap nav ul.enb li:last-child a{
 font-size: 0;
 background-image:url(../img/kaka.png);
 background-position: center;
 width: 41px;
 height: 40px;
 background-repeat: no-repeat;
 background-size: contain;
}

/* 타이틀 영역 */
div#title {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*! background: linear-gradient(to bottom, #BEFF30, #fff); */
    min-height: 700px;
     position: relative;
}
div#title::after{
  content:'scroll down ▼';
  display: block;
  width: 50px;
  height: 100px;
  background-color: #333;
  color:#fff;
  position: absolute;
  left: calc(50% - 25px);
  bottom:25px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name:mouse;
  animation-duration: 0.3s;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: block;
  width: 60px;
  height: 110px;
  background-color: #333;
  color:#0582fb;
  position: absolute;
  left: calc(50% - 30px);
  bottom:35px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
animation-name:scroll;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  font-size:14px;
  text-transform: uppercase;
  line-height: 2;
  opacity: 0.5;
  
  
}
@keyframes scroll {
  100%{ 
    transform: translateY(20%) ;
    opacity: 0.7;
}
}
div#title div.wrap {

/* height: 700px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: gray;
gap: 30px;
color: white; */
/*! font-weight: 700; */
}
div#title div.wrap h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    animation-name: title;
    animation-duration: 2.5s;  
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
    animation-fill-mode: forwards;    
}
@keyframes title {
    0%{ 
       opacity: 0;
       transform: rotateY(540deg) scale(0.2)
    }
     100%{
        opacity: 1;
         transform: rotateY(0deg) translateZ(100%) scale(3)
    }
}
div#title div.wrap p {
    padding: 10px;
    /*! border: 1px solid; */
    width: fit-content;
    margin: 0 auto;
  }

/* 어바웃*/

#aboutme {
  
    height: 100%;
    min-height: 800px;
    background-image: linear-gradient( 180deg, rgba(255, 255, 255, 0) 5.5%, rgb(255, 244, 165) 45% );
}
#aboutme div.wrap {
  
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    justify-content: center;
}
#aboutme div.wrap h2 {
  
    transform: translateX(300px) translateY(-239px);
    font-size: 45px;
    perspective: 200px;
    perspective-origin: top left;
}
#aboutme div.wrap h2 span{
    transform: rotateY(80deg);
    display: inline-block;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-iteration-count: 4;
}
#aboutme div.wrap h2 span:nth-child(1){
    
}
#aboutme div.wrap h2 span:nth-child(2){
    animation-delay: 0.4s;
}
#aboutme div.wrap h2 span:nth-child(3){
    animation-delay: 0.6s;
}
#aboutme div.wrap h2 span:nth-child(4){
    animation-delay: 0.8s;
    margin-right: 20px;
}
#aboutme div.wrap h2 span:nth-child(5){
    animation-delay: 1.2s;
}
#aboutme div.wrap h2 span:nth-child(6){
    animation-delay: 1.5s;
}
#aboutme div.wrap h2 span:nth-child(7){
    animation-delay: 1.8s;
}
@keyframes rotate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: rotateY(0deg);
    }
}
#aboutme div.wrap figure{
    perspective: 150px;
}
#aboutme div.wrap figure img{
    /*! transform: rotateX(-7deg) rotateY(8deg); */
 
}
#aboutme div.wrap ul.section {
  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  
    transform: translateY(-33px);
}
#aboutme div.wrap ul.section>li {
  
    background-color: #c2fd42ab;
    width: 300px;
    height: 300px;
    /*! border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 300px;
    /*! box-shadow: inset 1px 1px 10px #62803e; */
}
#aboutme div.wrap ul.section >li:nth-child(1){
    grid-column: 2;
    grid-row: 1;
   
    flex-direction: column-reverse;
    row-gap: 25px;
    /*! justify-content: end; */
    /*! box-shadow: 10px -20px 20px #62803e; */
    position: relative;
    border-top: 2px dashed #9fb768;
    border-bottom: none;
}
#aboutme div.wrap ul.section >li:nth-child(1)::before{
    position: absolute;
    width: 300px; /* 사다리꼴의 가로 길이 */
    height: 38px; /* 사다리꼴의 세로 길이 */
    background-color: #d8f792; /* 배경색 설정 */
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
    content:'';
    top:-40px;
}
#aboutme div.wrap ul.section> li:nth-child(2){
    grid-column: 1;
    grid-row: 2;
    position:relative;
/*     box-shadow: -20px 10px 20px #62803e;   */
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    border-top: 2px dashed #9fb768;
    border-bottom: 2px dashed #9fb768;
    border-left: 2px dashed #9fb768;
}
#aboutme div.wrap ul.section> li:nth-child(2)::after{
      content:'';
    position: absolute;
    bottom: 0px;
    left: -52px;
    width:50px;
       height:300px;
    clip-path: polygon(0% 15%, 0% 85%, 100% 100%, 100% 0%);
    background-color: #d8f792;
      /*! box-shadow: inset -2px 0 3px #62803e; */
      z-index: 0;
}
#aboutme div.wrap ul.section> li:nth-child(2)::before{
    content:'1. 학력, 관련수료 내용 등 이력에 대한 보충설명 \a 2. 학력, 관련수료 내용 등 이력에 대한 보충설명\a 3. 학력, 관련수료 내용 등 이력에 대한 보충설명'; 
    white-space: pre;
    width: 300px;
    height: 154px;
   color: #c2fd42ab;
    background-color:#222;
    border-radius: 10px;
    position:absolute;
    bottom: 51px;
    right: 247px;
    transition:0.5s;
    opacity: 0;
/*     display: none; */
    padding:  20px;
  
      box-sizing: border-box;
     line-height: 1.4;
    z-index: 1;
  }
  #aboutme div.wrap ul.section> li:nth-child(2):hover::before{
/*    display: inline-block;  */
       opacity: 0.9;

   box-shadow: -7px 7px 10px #999;
   
  }

#aboutme div.wrap ul.section> li:nth-child(3){
    grid-column: 2;
    grid-row: 2;   
    border: 0;
    /*! box-shadow: inset -2px -2px 10px #62803e; */
    position: relative;
    border: 2px dashed #9fb768;
}
#aboutme div.wrap ul.section> li:nth-child(3)::before{
   content:'';
    position: absolute;
    top: -52px;
    left: -302px;
       width:300px;
    height:50px;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
    background-color: #d8f792;
   /*! box-shadow: inset 0px -2px 3px #62803e; */
}
#aboutme div.wrap ul.section> li:nth-child(3)::after{
   content:'';
    position: absolute;
    bottom: -52px;
    left: -304px;
    width:301px;
    height:50px;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
    background-color: #d8f792;

   /*! box-shadow: inset 0px 2px 3px #62803e; */
}
#aboutme div.wrap ul.section> li:nth-child(4){
    grid-column: 3;
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    border-top: 2px dashed #9fb768;
    border-bottom: 2px dashed #9fb768;
    border-right: 2px dashed #9fb768;
}
#aboutme div.wrap ul.section> li:nth-child(4):before{
    content:'';
    position: absolute;
    top: -52px;
    left: 0;
    width:298px;
    height:50px;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
    background-color: #d8f792;
}
#aboutme div.wrap ul.section> li:nth-child(4):after{
    content:'';
    position: absolute;
    top: 303px;
    left: 0;
    width:298px;
    height:50px;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
    background-color: #d8f792;
}
#aboutme div.wrap ul.section> li:nth-child(5){
    grid-column: 4;
    grid-row: 2;
    border-left: 0;
/*     box-shadow: 20px 10px 20px #62803e; */
    display: flex;
    flex-direction: column-reverse;
    gap: 17px;
    
    position: relative;
    height: 305px;
}

#aboutme div.wrap ul.section> li:nth-child(6){
    grid-column: 2;
    grid-row: 3;
/*     box-shadow: 10px 20px 20px #62803e; */
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    border-bottom: 2px dashed #9fb768;
    border-top: none;
}
#aboutme div.wrap ul.section> li:nth-child(6)::after{
position: absolute;
  width: 302px;
  height: 38px;
  background-color: #d8f792;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  content: '';
  bottom: -40px;
}
#aboutme div.wrap ul.section> li h3{
    font-size: 30px;
}
#aboutme div.wrap ul.section> li:nth-child(1) h3{
    font-size: 0;
}
#aboutme div.wrap ul.section> li ul.bar-chart{
    width: 90%;
  height: 76%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 19px;
    margin-left: 45px;
}
#aboutme div.wrap ul.section> li ul.bar-chart li{
      color: #fff;
      border-radius: 7px;
      display: flex;
     justify-content: end;
    align-items: center;
    padding-right: 12px;
    box-sizing: border-box;
      height: 17%;
    background-color:#AB56D4DE;
}
#aboutme div.wrap ul.section> li:nth-child(4) ul.bar-chart li:nth-child(1){
    
        width: 71%;
      
}
#aboutme div.wrap ul.section> li:nth-child(4) ul.bar-chart li:nth-child(2){
    
        width: 56%;
       
}
#aboutme div.wrap ul.section> li:nth-child(4) ul.bar-chart li:nth-child(3){
     
        width: 82%;
        
}
#aboutme div.wrap ul.section> li p{
   background-image: url(../img/search.svg);
   width: 58px;
   height: 47px;
    background-size: contain;
    font-size: 0;
   background-repeat: no-repeat;
   position: absolute;
   top: 100px;
   left: 55px;
   transform: rotateZ(43deg);
} 
#aboutme div.wrap ul.section> li:hover p{
   display: none;
}
#aboutme div.wrap ul.section> li ul.bubble-chart{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
}
#aboutme div.wrap ul.section> li ul.bubble-chart::before{
    position: absolute;
    width: 80%;
    height: 80%;
    display: block;
    border-bottom: 2px solid #90bb2e;
    content:'';
}
#aboutme div.wrap ul.section> li ul.bubble-chart::after{
    position: absolute;
    width: 80%;
    height: 80%;
    display: block;
    border-left: 2px solid #90bb2e;
    content:'';
}
#aboutme div.wrap ul.section> li ul.bubble-chart li{
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 19px;
   color: #fff;
   font-size: 18px;
    background-color: #5760E8D6;
} 
#aboutme div.wrap ul.section> li:nth-child(6) ul.bubble-chart li:nth-child(1){
 
   width: 90px;
   height: 90px;
    transform: translateY(-52px) translateX(41px);
}
#aboutme div.wrap ul.section> li:nth-child(6) ul.bubble-chart li:nth-child(2){
    
      width: 80px;
   height: 80px;
    transform: translateY(43px) translateX(64px);
}
#aboutme div.wrap ul.section> li:nth-child(6) ul.bubble-chart li:nth-child(3){
  
     width: 60px;
   height: 60px;
     transform: translateY(59px) translateX(-122px);
}
#aboutme div.wrap ul.section> li:nth-child(6) ul.bubble-chart li:nth-child(4){
     
    width: 50px;
   height: 50px;
   
    transform: translateY(-45px) translateX(-50px);
}
#aboutme div.wrap ul.section> li div.back{
     width: calc(100% - 80px);
    height: calc(100% - 80px);
    border-radius: 50%;
    background: conic-gradient( #4caf50 0% 20%, #2196f3 20% 45%, #ff9800 45% 75%, #f44336 75% 100% );  
     font-size: 18px; /* 텍스트 크기 조정 */
    line-height: 1.2; /* 텍스트 라인 높이 조정 */
    color: white; /* 텍스트 색상 */
     /* 텍스트 가운데 정렬 */
    transform: rotateY(0deg);
    animation-name: rot;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-iteration-count: 4;
}
#aboutme div.wrap ul.section> li div.back img{
    width: 80%;
    height: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translateY(25px) translateX(22px) rotateY(180deg);
}
#aboutme div.wrap ul.section> li ul.sub{
     width: calc(100% - 80px);
    height: calc(100% - 80px);
    border-radius: 50%;
    background: conic-gradient( #4caf50 0% 20%, #2196f3 20% 45%, #ff9800 45% 75%, #f44336 75% 100% );  
     font-size: 18px; /* 텍스트 크기 조정 */
    line-height: 1.2; /* 텍스트 라인 높이 조정 */
    color: white; /* 텍스트 색상 */
     /* 텍스트 가운데 정렬 */
    transform: rotateY(0deg);
    animation-name: rot;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    backface-visibility: hidden;
    animation-iteration-count: 4;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    position: absolute;
     top: 16px;
}
@keyframes rot{
    100%{
         transform: rotateY(-360deg);
    }
}
#aboutme div.wrap ul.section> li ul.sub li{
    
}

#aboutme div.wrap ul.section> li ul.sub li:nth-child(1){
    transform: translateY(96px) translateX(50px);
}
#aboutme div.wrap ul.section> li ul.sub li:nth-child(2){
     transform: translateY(54px) translateX(-50px);
}
#aboutme div.wrap ul.section> li ul.sub li:nth-child(3){
     transform: translateY(-62px) translateX(46px);
}
#aboutme div.wrap ul.section> li ul.sub li:nth-child(4){
     transform: translateY(-98px) translateX(-50px);
}


/* 기술과 도구 */
#skill {
    min-height: 700px;
    height: 100%;
    align-items: center;
    
    display: flex;
    /*! background-color: #3fb48b; */
    background-image: linear-gradient( 179deg, rgb(255, 244, 165) 16.6%, rgb(252, 99, 156) 80.4% );
}
#skill div.wrap {

   
}
#skill div.wrap ul.list {
 
   
    grid-template-columns: 1fr;

    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 62px;
/*! display: grid; */
}
#skill div.wrap ul.list>li {
 
  
    display: flex;
    flex-direction: column-reverse;
    align-items: first baseline;
   
}

#skill div.wrap h2{
    
   text-align: center;
  margin-bottom: 33px;
  font-size: 28px;
  
}
#skill div.wrap h2::after{
  background-image: url(../img/search.svg);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  content:'';
  display: inline-block;
  background-size: contain;
  transform: rotateZ(-45deg) translateY(20px)
}
#skill div.wrap ul.list>li ul.icon {
    display: flex;
    margin-bottom: 30px;
}

#skill div.wrap ul.list>li ul.icon li{
    
    display: flex;
    align-items: center;
    justify-content: start;
   
    width: 100px;
    overflow: hidden;
 
/*     width: calc(1440px / 4); */
    transition: all 0.5s ease-out;
}
#skill div.wrap ul.list > li ul.icon li:hover{
    overflow: visible;
    width: 400px;
    height: 180px;
}

#skill div.wrap ul.list>li ul.icon li img{
 width:100px;
 height: 100px;
 margin-bottom: 10px;
 margin-right: 14px;
}
/* 아이콘 호버  */
#skill div.wrap ul.list>li ul.icon li div.icon{
    width: 220px;
    font-size: 24px;
   
    margin-right: 25px;
    /*! height: 180px; */
    opacity: 0;
}
#skill div.wrap ul.list>li ul.icon li:hover div.icon{
 padding: 20px;
background-color:#d6f962;
border-radius: 23px; 
box-shadow: 10px 10px 20px #749070; 
 opacity: 1;
}
#skill div.wrap ul.list>li ul.icon li div.icon p{
    
   
}
#skill div.wrap ul.list>li ul.icon li div.icon h3.deh{

  
    /*! text-align: center; */
    margin-bottom: 12px;
}
#skill div.wrap ul.list>li ul.icon li div.icon p.dep{

    margin-bottom: 12px;
    width: 220px;
    height: 96px;
}
#skill div.wrap ul.list>li ul.icon li div.icon p.level{
    
    color: #000;
    position: relative;
}
#skill div.wrap ul.list>li ul.icon li div.icon p.level::after{
    content:'';
    width: 102px;
    height: 41px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
}
#skill div.wrap ul.list > li:nth-child(1) ul.icon li:nth-child(3) img{
 scale: 2.05;
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(1) img {
scale: 1.15;
transform: translateY(-2px);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(2) img {
 scale: 1.15;
 transform: translateY(1px);

}

#skill div.wrap ul.list>li:nth-child(1) ul.icon li:nth-child(1) div.icon p.level::after {
    background-image: url(../img/90.svg);
}
#skill div.wrap ul.list>li:nth-child(1) ul.icon li:nth-child(2) div.icon p.level::after {
    background-image: url(../img/70.svg);
}
#skill div.wrap ul.list>li:nth-child(1) ul.icon li:nth-child(3) div.icon p.level::after {
    background-image: url(../img/70.svg);
}
#skill div.wrap ul.list>li:nth-child(1) ul.icon li:nth-child(4) div.icon p.level::after {
    background-image: url(../img/50.svg);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(1) div.icon p.level::after {
    background-image: url(../img/70.svg);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(2) div.icon p.level::after {
    background-image: url(../img/90.svg);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(3) div.icon p.level::after {
    background-image: url(../img/50.svg);
}
#skill div.wrap ul.list>li:nth-child(2) ul.icon li:nth-child(4) div.icon p.level::after {
    background-image: url(../img/90.svg);
}
#skill div.wrap ul.list>li:nth-child(3) ul.icon li:nth-child(1) div.icon p.level::after {
    background-image: url(../img/90.svg);
}
#skill div.wrap ul.list>li:nth-child(3) ul.icon li:nth-child(2) div.icon p.level::after {
    background-image: url(../img/50.svg);
}
#skill div.wrap ul.list>li:nth-child(3) ul.icon li:nth-child(3) div.icon p.level::after {
    background-image: url(../img/70.svg);
}
#skill div.wrap ul.list>li:nth-child(3) ul.icon li:nth-child(4) div.icon p.level::after {
    background-image: url(../img/90.svg);
}

#skill div.wrap ul.list>li button{
  
    padding: 10px 20px;
    width: fit-content;
    font-size: 20px;
    border-radius: 10px;
    background-color: #000;
    color: #0084ff;
}
/* 포트 폴리오 */
#portfolio {

    font-size: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: 800px;
    background-image: linear-gradient( 179deg, rgb(255, 96, 155) 16.6%, rgb(250, 216, 255) 80.4% );
}
#portfolio div.wrap {
    display: flex;
    gap: 40px;
}
#portfolio div.wrap span.dis {

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 23px;
    margin-top: 120px;
}
#portfolio div.wrap span.dis  a {

    padding: 15px 23px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}
#portfolio div.wrap span.dis a:first-child{
     padding: 15px 46px;
}
#portfolio div.wrap div.popoAni{
   width: 1076px;
}
#portfolio div.wrap > div button.slick-prev{
    left:-134px;
    top:243px;
}
#portfolio div>div button.slick-arrow::before{
    content:'';
    display: block;
    width:59px;
    height: 60px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#portfolio div>div button.slick-prev::before{
    background-image:url(../img/arrow_back.svg);
}
#portfolio div > div button.slick-next{
right: -134px;
  top: 243px;
}
#portfolio div > div button.slick-next::before{
    background-image:url(../img/arrow_forward.svg);
}
#portfolio div.wrap article{
    display: grid;
    column-gap: 50px;
}
#portfolio div.wrap figure.pc {

    grid-column: 1;
    grid-row: 1 / span 4;
}
#portfolio div.wrap figure.pc img {

}
#portfolio div.wrap figure.pc figcaption {
 display: none;
}
#portfolio div.wrap figure.mobile {

   grid-column: 1;
  grid-row: 1 / span 4;
    width: 549px;
    height: 375px;
    
    display: flex;
    justify-self: end;
   align-self: flex-end;
   justify-content: flex-end;
}
#portfolio div.wrap figure.mobile img {

}
#portfolio div.wrap figure.mobile figcaption {
 display: none;
}
#portfolio div.wrap ul {

    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
    gap: 66px;
    justify-content: center;
}
#portfolio div>div>ul.slick-dots{
display: inline-block;

}
#portfolio div>div>ul.slick-dots li{
top:23px;
    right: 196px;
}
#portfolio div>div>ul.slick-dots li button::before{
    font-size: 15px;
    color: #85808d;
    opacity: 0.5;
    text-shadow: 2px 2px 5px #777;
    transition: 0.5s;
}
#portfolio div>div>ul.slick-dots li.slick-active button::before{
    opacity: 0.85;
    color: #0084ff;
    font-size: 20px;
}
#portfolio div.wrap ul li {
}
#portfolio div.wrap ul li:nth-child(1) {
}
#portfolio div.wrap ul li:nth-child(2) {
    align-self: baseline;
}
#portfolio div.wrap ul li:nth-child(3) {
    align-self: baseline;
}
#portfolio div.wrap ul li h3 {

}
#portfolio div.wrap ul li p {

}
#portfolio div.wrap span.guide {

    grid-column: 2;
    grid-row: 4;
    display: flex;
    font-size: 27px;
    gap: 23px;
    align-items: end;
    
}
#portfolio div.wrap span.guide a {

    width: calc(100% /3);
    font-size: 22px;
    text-align: center;
}
#portfolio div.wrap span.guide a::before{
    content:'';
    width: 98px;
    height: 98px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
#portfolio div.wrap span.guide a:nth-child(1)::before{
    background-image: url(../img/figma.svg);
    background-color: #000000;
    border-radius: 50%;
}
#portfolio div.wrap span.guide a:nth-child(2)::before{
    background-image: url(../img/webpgm.png);
    background-color: #000000;
    border-radius: 50%;
}
#portfolio div.wrap span.guide a:nth-child(3)::before{
    background-image: url(../img/github.svg)
}
/* 하단 영역 */
footer {
   height: 100%;
   display: flex;
   align-items: center;
   min-height: 800px;
   position:relative;
background-image: linear-gradient( 179deg, rgb(250, 216, 255) 0.2%, rgba(255, 255, 255, 0) 80.4% );
}
footer::before{
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f0f;
  position: absolute;
  left:0;
  top:0;
  background-image: url(../img/back2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -1;
}
footer div.wrap {

    display: flex;
    width: calc(100% /3);
    flex-direction: column;
    flex-wrap: wrap;
    gap: 66px;
    align-items: inherit;
}
footer div.wrap ul {

    display: flex;
     text-align: center;
    width: 100%;
    justify-content: space-between;
}
footer div.wrap ul li {

}
footer div.wrap ul li figure {
   
   
}
footer div.wrap ul li figure img {
    width: 200px;
    height: 200px;
}
footer div.wrap ul li figure p.sns {

    font-size: 22px;
}
footer div.wrap p.right {
    text-align: center;
    line-height: 1.4;
    transform: translateY(100px);
}
footer div.wrap p.right strong {

}