@media screen and (max-width:768px){
  header div.wrap{
    
  }
  header div.wrap nav{
    
  }
  header div.wrap nav h1 a{
    
  width: 170px !important;
  
  }
  header div.wrap nav ul.gnb{
    
  display: none;
  }
  header div.wrap nav{

  grid-template-columns: 1fr auto !important;
  }
  
  .wrap{
    
  padding: 0 20px; 
  }
  .h1{ 
    font-size: calc(48px * 0.8) !important;
  }
  div#title div.wrap p{
    
  font-size: calc(19px * 0.95);
  }
  div#title::after{
      display: none !important;;
  }
  header div.wrap nav a{
  grid-column: 3;
  }
  .bubbles2{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 50%;
    animation: bubbles2 3s ease-out forwards infinite;
    right: 4px;
    animation-delay: -2s;
  }
  @keyframes bubbles2 {
    0% {
      width: 0;
      height: 0;
      opacity: 0.75;
    }
    100% {
      width: 59%;
      height: 40%;
      opacity: 0;
    } 
  }
  .bubbles{
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: rgba(255, 255, 255, 0.61);
      border-radius: 50%;
      animation: bubbles 3s ease-out forwards infinite;
      /*! right: 215px; */
  }
  @keyframes bubbles {
    0% {
      width: 0;
      height: 0;
      opacity: 0.75;
    }
    100% {
      width: 100%;
      height: 68%;
      opacity: 0;
    } 
  }
    /* 메인 파트 - aboutme   */
  #aboutme{
    
  }
  #aboutme div.wrap{
    height: 100vh !important;
  }
  #aboutme div.wrap h2{
    display: none;
  }
  #aboutme div.wrap ul.section{
    height: 100%;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    width: 50%;
  }
 
  #aboutme div.wrap ul.section > li{
    height: 100% !important;
    border:  none !important;
    width: 100% !important;
  }
  #aboutme div.wrap ul.section > li::before, #aboutme div.wrap ul.section > li::after{
    display: none;
  }
  #aboutme div.wrap ul.section >li:nth-child(1){
    grid-column: 1 !important;
    grid-row: 1 !important;
  }
  #aboutme div.wrap ul.section >li:nth-child(2){
    grid-column: 1 !important;
    grid-row: 2 !important;
    margin: initial !important;
  }
  #aboutme div.wrap ul.section >li:nth-child(3){
    grid-column: 1 !important;
    grid-row: 3 !important;
  }
  #aboutme div.wrap ul.section >li:nth-child(4){
    grid-column: 1 !important;
    grid-row: 4 !important;
  }
  #aboutme div.wrap ul.section >li:nth-child(5){
    grid-column: 1 !important;
    grid-row: 5 !important;
  }
  #aboutme div.wrap ul.section >li:nth-child(6){
    grid-column: 1 !important;
    grid-row: 6 !important;
  }
  #aboutme div.wrap ul.section > li ul.bar-chart{
    display: none !important;
  }
  #aboutme div.wrap ul.section > li ul.sub{
    display: none !important;
  }
  #aboutme div.wrap ul.section > li div.back img{
    display: none !important;
  }
  #aboutme div.wrap ul.section > li p{
    display: none !important;
  }
  #aboutme div.wrap ul.section > li ul.bubble-chart::before{
    display: none !important;
  }
  #aboutme div.wrap ul.section > li ul.bubble-chart::after{
    display: none !important;
  }
  #aboutme div.wrap ul.section > li ul.bubble-chart li{
    display: none !important;
  }
  #aboutme div.wrap figure img{
    display: none;
  }
  #aboutme div.wrap ul.section > li div.back{
    background: none !important;
  }
  #aboutme div.wrap ul.section > li:nth-child(n+5):nth-child(-n+6){
  
  }
  /*  햄버거   */
  header{
   
  }
  header div.wrap nav article{
    
 
  position: fixed; 
  width: 129px;
  top: 21px;
  right: -140px;
  height: auto;
  box-sizing: border-box;

  border-radius: 7px;
  z-index:  1;
  transition: 1s;

  }
  .asideShow{
    right: 10px !important;
  }
  header div.wrap nav article button{
    
  display: initial !important;
  font-size: 0;
  background-image: url(../img/menu.svg);
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  right: 152px;
  top: 3px;
  } 
  .arrowman{
    background-image:url(../img/arrowman.svg) !important;
    width: 43px !important;
    height: 43px !important;
    background-position:  center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    top: 3px !important;
  }
  header div.wrap nav article ul{
    
  /*! box-shadow: -1px 2px 3px #4c7811; */
  border-radius: 4px;
  padding: 7px 3px 7px 10px;
  background-color: #1f1c1c;
  }
  header div.wrap nav article>ul li{
    
  line-height: 1.4;
  }
  header div.wrap nav article>ul li a{
   transition:0.2s;
   color: #fff;
  }
  header div.wrap nav article>ul li:hover a{
  color: #0783fb;
  }  
  /* 자기소개 */
  #aboutme div.wrap.movs {
  
  display: flex;
  /*! align-items: baseline; */
  justify-content: center;
  }
  #aboutme div.wrap.movs ul.yaya {
    
  height: 81%;
  }
  #aboutme div.wrap.movs ul.yaya>li {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto ;
    height: 25%;
    align-items: center;
    justify-content: center;
    gap: 58px;
    position: relative;
  }
  #aboutme div.wrap.movs ul.yaya>li h3 {
   
    width: 150px;
    background-color: #baf840;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    height: 100%;
  }
  #aboutme div.wrap.movs ul.yaya > li:nth-child(n+1):nth-child(-n+3) h3::after{
    content:'';
    width: 42%;
    display: block;
    border: 1.9px dashed #9fb768;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  #aboutme div.wrap.movs ul.yaya > li:nth-child(1) h3::before{
    content:'';
    position: absolute;
    width: 150px;
    height: 31px;
    background-color: #d8f792;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
    content: '';
    top: -31px;
  }
   #aboutme div.wrap.movs ul.yaya > li:nth-child(4) h3::before{
    content:'';
    position: absolute;
    width: 153px;
    height: 31px;
    background-color: #d8f792;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
    content: '';
    top: 155px;
  }
  #aboutme div.wrap.movs ul.yaya>li ul.yuyu {
    
  line-height: 1.4;
  }
  #aboutme div.wrap.movs ul.yaya > li:nth-child(1) ul.yuyu li:nth-child(1){
    
  font-size: 20px;
  }
 
/* skill   */
  #skill{
  height: auto;
  min-height: auto;
  }
  #skill div.wrap{
  width: 100%;
  
  }
  #skill div.wrap ul.list{
    
  width: 90%;
  margin: 0 auto;
  }
  #skill div.wrap ul.list > li ul.icon li{
  }
  #skill div.wrap ul.list > li ul.icon{
    display: initial !important;
  }
  #skill div.wrap h2::after{
   display: none !important;
  }
  #skill div.wrap ul.list > li{
   /*! height: 100vh; */
  }
  #skill div.wrap h2{
  /*! margin-top: 20px; */
  padding: 20px;
  }
  #skill div.wrap ul.skillani div>div>li.slick-slide img{
    
  width: 19%;
  }
  #skill>div.wrap>ul>div{
    
  width: 100%;
  }
  #skill>div.wrap>ul>div>div{
    
  }
   #skill>div.wrap>ul>div>div li.slick-slide{
   
  }
  #skill div.wrap ul.list > li ul.icon li div.icon{
    width: fit-content;
    height: fit-content;

  }
  #skill div.wrap ul.list > li ul.icon li img{
    
  scale: 0.9;
  }
  #skill div.wrap ul.list > li:nth-child(1) ul.icon li:nth-child(3) img{
    scale: 1.85 !important;
  }
  #skill div.wrap ul.list > li:nth-child(2) ul.icon li:nth-child(n+1):nth-child(-n+2) img{
    scale:   1.05;
  }
  #skill div.wrap ul.list > li ul.icon li div.icon p.dep{
    
  width: 266px;
  height: initial;
  font-size: 21px;
  }
  #skill div.wrap ul.list > li ul.icon li div.icon p.level{
    
  font-size: 21px;
  }
  #skill div.wrap ul.list > li ul.icon li div.icon p.level::after{
    
  width: 99px;
  height: 95px;
  left: 103px;
  }
  #skill div.wrap ul.list > li button{
    
  }
  
/*  포트폴리오   */
  #portfolio{
    position: relative ;
   
  }
  #portfolio div.wrap{
    
  height: 80vh;
  }
  #portfolio div.wrap div.popoAni{
    
  
  width:  399px !important;
  }
  #portfolio div>div>div .slick-track{
    
  
  width: 100% !important;
  height: 100% !important;
  }
  #portfolio div.wrap figure.pc{
    
 
  grid-row: 1 !important;
  width: 77%;
  display: flex;
  align-self: center;
  justify-self: center;
  height: 280px;
  }
   #portfolio div.wrap figure.mobile{
    grid-row: 1 !important;
    width: 77% !important;
    align-self: center !important;
    justify-self: center !important;
    height: 280px !important ;
    justify-content: end;
    align-items: end;
  }

  #portfolio div.wrap article{
    
 
  grid-template-rows: auto auto auto;
 
  gap: 31px;
  }
#portfolio div.wrap article.popo2{
  left:0 !important;
  position: absolute !important;
}
  #portfolio div.wrap ul{
    
  grid-row:  2 !important;
  grid-column: 1 !important;
  gap: 20px !important;
  font-size: 20px;
  justify-self: center;
  }
  #portfolio div.wrap span.guide{
     grid-row:  3 !important;
  grid-column: 1 !important;
     justify-self: center;
     gap: 11px !important;
     align-items: center !important;
  }
  #portfolio div.wrap span.guide a{
    width:initial !important;
    font-size: 18px !important;
  }
  #portfolio div.wrap figure.pc img{
    
 
  width: 100%;
  }
  #portfolio div.wrap figure.mobile img{
   
  height: 60%;
  width: 25%;
  }
  #portfolio div.wrap span.guide a::before{
    
  width: 60px !important;
  height: 60px !important;
  }
 #portfolio div.wrap > div.popoAni button.slick-prev{
    
  left:  -29px !important;
  top: 300px;
  }
  #portfolio div > div button.slick-next{
    right:  11px !important ;
  top: 300px !important;
  }
  #portfolio div.wrap div.popoAni div.slick-list{
   
  height: 100%;
  }
#portfolio div > div button.slick-arrow::before{
  
  width: 65px !important;
  height: 36px !important;
}

/* 하단 */
  footer{
    
  }
  footer div.wrap{
    
  width: 100% !important;
  gap: initial !important;
  }
  footer div.wrap ul{
    display: initial !important;
  }
  footer div.wrap ul li{
    
  margin-bottom: 25px;
  }
  footer div.wrap ul li figure img{
    
  width: 122px !important;
  height: 128px !important;
  margin-bottom: -5px;
  }
  footer div.wrap p.right{
    
  transform: translateY(78px) !important;
  }
 
}  